#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

.stock-box {
    width: 288px;
    height: 288px;
    border: 1px solid #333;
    margin: 18px;
    padding: 18px;
    transition: background-color 0.5s;
    background: #eee;
    color: black;
}

/* Color classes for price changes */
.dark-red {
    color: #8B0000;
}

.red {
    color: #FF8888;
}

.gray {
    color: #888888;
}

.green {
    color: #00BB00;
}

.dark-green {
    color: #006400;
}

/* Flash effect for price changes */
.red-flash {
    transition: background-color 1s;
    background-color: #ffcccc !important;
}

.green-flash {
    transition: background-color 1s;
    background-color: #ccffcc !important;
}

.gray-flash {
    transition: background-color 1s;
    background-color: #ccc !important;
}
